﻿@using Microsoft.AspNet.Identity
@using MyBlog.Models
@model MyBlog.Models.Note
@{
    ViewBag.Title = "ShowNoteDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            @Model.Title<small> @Model.Date.ToShortDateString()</small>
        </h3>
    </div>
    <div class="panel-body">
        @Model.Content
    </div>
    <div class="panel-footer">
        @foreach (CommentForNote comment in Model.Comments)
        {

            <table class="table table-bordered">
                <tr>
                    <td class="info" style="width: 200px"><span>Autor: </span>@comment.User.UserName<br><span>Data:</span> @comment.Date.ToLongDateString()
                    <td class="active">
                        @comment.Content
                    @if (User.Identity.GetUserId() == comment.UserId || User.IsInRole("Admin") || User.IsInRole("Editor"))
                    {
                        using (Html.BeginForm("DeleteComment","Note", new { commentid = @comment.CommentId, noteId = @Model.NoteId }, FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" data-deleting-text="Deleting..." class="btn btn-primary">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        }
                    }
            </tr>
        </table>
            <br />
        }
    </div>
</div>
@if (User.Identity.IsAuthenticated)
{
    @Html.Partial("_AddCommentForm", new CommentForNote() { NoteId = @Model.NoteId, UserId = @User.Identity.GetUserId() }, null)
}
else
{
    <div class="alert alert-info" role="alert">
        <p>@Html.ActionLink("Zaloguj się", "Login", "Account", routeValues: new { @returnUrl = Url.Action(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString(), ViewContext.RouteData.Values["id"]) }, htmlAttributes: new { id = "loginLink" }), aby móc dodawać komentarze</p>
    </div>
}







