﻿@using MyBlog.Models
@using PagedList.Mvc
@model PagedList.PagedList<Note>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-header text-center">
    <h1>Witam na moim blogu :)</h1><br/><small>Pozdrawiam, Agnieszka Stupak</small>
</div>

@foreach (Note note in @Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">@Html.ActionLink(@note.Title, "ShowNoteDetails", "Note", new {@id = note.NoteId}, null) <small> @note.Date.ToShortDateString()</small>
            </h2>
            @*<h3 class="panel-title">@note.Title<small> @note.Date.ToShortDateString()</small></h3>*@
        </div>
        <div class="panel-body">
            @note.Content
        </div>
        <div class="panel-footer">
            <span>Autor: </span>@note.User.UserName
            <br>
            <span>Komentarze </span><span class="badge">@note.Comments.Count</span>
            @Html.ActionLink("Dodaj", "ShowNoteDetails", "Note", new {@id = note.NoteId}, null)

        </div>
    </div>

}
<div class="container">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
    Notki od @Model.FirstItemOnPage do @Model.LastItemOnPage z @Model.TotalItemCount

</div>
   