﻿@using Microsoft.AspNet.Identity
@model MyBlog.Models.Note
@{
    ViewBag.Title = "AddNote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Dodaj wpis</h2>

@Html.Partial("_IsAdded")
@using (Html.BeginForm("AddNote", "Admin", new { UserId = @User.Identity.GetUserId() }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <fieldset class="form-group">
        @Html.LabelFor(n => n.Title, "Tytuł:")
        @Html.TextBoxFor(n => n.Title, new {@class = "form-control", @placeholder = "Tytuł" })
    </fieldset>
    <fieldset class="form-group">
        @Html.LabelFor(n => n.Content, "Treść:")
        @Html.TextAreaFor(n => n.Content, new {@class = "form-control", @placeholder = "Treść", @style = "min-height: 250px" })

    </fieldset>
    <input type="submit" value="Dodaj notkę" class="btn btn-primary"/>
}