﻿@model MyBlog.Models.Note
@{
    ViewBag.Title = "EditNote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eddytuj notatkę</h2>

@using (Html.BeginForm("EditNote", "Admin", new { NoteId = @Model.NoteId, Date = @Model.Date, UserId = @Model.UserId }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <fieldset class="form-group">
        @Html.LabelFor(n => n.Title, "Tytuł:")
        @Html.TextBoxFor(n => n.Title, new { @class = "form-control", @placeholder = "Tytuł" })
    </fieldset>
    <fieldset class="form-group">
        @Html.LabelFor(n => n.Content, "Treść:")
        @Html.TextAreaFor(n => n.Content, new { @class = "form-control", @placeholder = "Treść", @style = "min-height: 250px" })

    </fieldset>
    <input type="submit" value="Zapisz" class="btn btn-primary" />
}

