﻿@model MyBlog.ViewModels.UserEditRolesViewModel
@{
    ViewBag.Title = "Edycja roli użytkownika";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edycja roli użytkownika</h2>



@using (Html.BeginForm("SetUserRoles", "Admin",new { UserId = @Model.UserId },FormMethod.Post))
{
    <fieldset class="form-group">
        @Html.LabelFor(m => m.UserName)
        @Html.DisplayFor(m => m.UserName)
    </fieldset>
    <fieldset class="form-group">
        @Html.LabelFor(m => m.isEditor)
        @Html.CheckBoxFor(m => m.isEditor)
        @Html.LabelFor(m => m.isAdmin)
        @Html.CheckBoxFor(m => m.isAdmin)
    </fieldset>
    <input type="submit" value="Zapisz" class="btn btn-primary"/>
}