﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="list-group">
    <a class="list-group-item active">
        Notki
    </a> 
    <a href="@Url.Action("AddNote","Admin")" class="list-group-item">Dodaj notkę <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
    <a href="@Url.Action("Notes", "Admin")" class="list-group-item">Edytuj notki <span class="glyphicon glyphicon-erase" aria-hidden="true"></span></a>
    @*<a href="#" class="list-group-item">Kategorie notek <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>*@
</div>
<br>
@if (User.IsInRole("Admin")) {
<div class="list-group">
    <a class="list-group-item active">
        Użytkownicy
    </a>
    <a href="@Url.Action("UserList","Admin")" class="list-group-item">Edytuj uprawnienia <span class="glyphicon glyphicon-cog" aria-hidden="true"></span></a>
</div>
}
@*@Html.ActionLink("Wpisy", "Notes", "Admin")*@

