﻿@using MyBlog.Models
@model List<MyBlog.Models.Note>
@{
    ViewBag.Title = "Notes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista notek do wyboru....</h2>

@*tabelka z nazwa notaki, autor, data dodania, guzik usun oraz edytuj*@

<table class="table">

    <thead>
        <tr>
            <th>Tytuł</th>
            <th>Autor</th>
            <th>Data dodania</th>
            <th>Edytuj</th>
            <th>Usuń</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Note note in @Model)
        {
            <tr>
                <td>@note.Title</td>
                <td>@note.User.UserName</td>
                <td>@note.Date</td>
                <td>
                    @Html.ActionLink("EDYTUJ", "EditNote", "Admin", new { id = @note.NoteId }, new { @class = "btn btn-primary" })
                </td>
                <td>
                    @using (Html.BeginForm("DeleteNote", "Admin", new { id = @note.NoteId }, FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        <input type="submit" value="USUŃ" class="btn btn-danger" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
