﻿@using Microsoft.AspNet.Identity
@model List<MyBlog.ViewModels.UserViewModel>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista użytkowników</h2>



<table class="table">
    <thead>
        <tr>
            <th>Nazwa użytkownika</th>
            <th>Adres e-mail</th>
            <th>Role</th>
            <th>Akcja</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in @Model)
        {
            if (User.Identity.GetUserId() == user.user.Id)
            {
                continue;
            }
            <tr>
                <td>@user.user.UserName</td>
                <td>@user.user.Email</td>
                <td>
                    @foreach (var roleName in @user.roleName)
                    {
                        @roleName
                        if (!user.roleName.Last().Equals(roleName))
                        {
                            <span>, </span>
                        }
                    }
                </td>
                <td>
                    @using (Html.BeginForm("EditUserRole", "Admin", new {userId = @user.user.Id}, FormMethod.Post))
                    {
                        <input type="submit" class="btn btn-primary" value="EDYTUJ"/>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
