﻿@model MyBlog.Models.CommentForNote


@using (Html.BeginForm("AddComment", "Note", new { NoteId = @Model.NoteId, UserId = @Model.UserId }, FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <fieldset class="form-group">
        <label for="exampleTextarea">Dodaj komentarz:</label>
        @Html.TextAreaFor(n => n.Content, new {@class = "form-control"})
    </fieldset>
    <input type="submit" value="Dodaj" class="btn btn-primary"/>

}

