﻿@model MyBlog.Models.EmailForm
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_IsAdded")
@using (Html.BeginForm("SendEmail", "Contact", FormMethod.Post))
{
    <fieldset class="form-group">
        @Html.LabelFor(n => n.EmailSender, "Email:")
        @Html.TextBoxFor(n => n.EmailSender, new {@class = "form-control", @placeholder = "Email"})
    </fieldset>
    <fieldset class="form-group">
        @Html.LabelFor(n => n.Subject, "Temat:")
        @Html.TextAreaFor(n => n.Subject, new { @class = "form-control", @placeholder = "Temat" })

    </fieldset>
    <fieldset class="form-group">
        @Html.LabelFor(n => n.Content, "Treść:")
        @Html.TextAreaFor(n => n.Content, new { @class = "form-control", @placeholder = "Treść" })

    </fieldset>
    <input type="submit" value="Wyślij wiadomość" class="btn btn-primary" />
}


