﻿@model MyBlog.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.ValidationSummary(true, "", new { @class = "text-danger" })
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @style = "width: 250px" }))
{
    @Html.AntiForgeryToken()
    <fieldset class="form-group">
        @Html.LabelFor(a => a.UserName)
        @Html.TextBoxFor(a => a.UserName, new { @class = "form-control", @placeholder = "Nick"})
    </fieldset>
    <fieldset class="form-group">
        @Html.LabelFor(a => a.Password)
        @Html.PasswordFor(a => a.Password, new { @class = "form-control", @placeholder = "Hasło"})
    </fieldset>
    <fieldset class="form-group">
        @Html.CheckBoxFor(m => m.RememberMe)
        @Html.LabelFor(m => m.RememberMe)
    </fieldset>
    <input type="submit" value="Zaloguj" class="btn btn-primary" /><span> lub @Html.ActionLink("Zarejestruj się", "Register", "Account")</span>
}