﻿@model MyBlog.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", @style = "width: 250px" }))
{
    @Html.AntiForgeryToken()

    <fieldset class="form-group">
        @Html.LabelFor(a => a.UserName)
        @Html.TextBoxFor(a => a.UserName, new {@class = "form-control", @placeholder = "Nick"})
    </fieldset>
    <fieldset class="form-group">
        @Html.LabelFor(a => a.Email)
        @Html.TextBoxFor(a => a.Email, new { @class = "form-control", @placeholder = "Email"})
    </fieldset>
    <fieldset class="form-group">
        @Html.LabelFor(a => a.Password)
        @Html.PasswordFor(a => a.Password, new {@class = "form-control", @placeholder = "Hasło"})
    </fieldset>
    <fieldset class="form-group">
        @Html.LabelFor(a => a.ConfirmPassword)
        @Html.PasswordFor(a => a.ConfirmPassword, new { @class = "form-control", @placeholder = "Powtórz hasło"})
    </fieldset>
    <input type="submit" value="Zarejestruj" class="btn btn-primary" />
}
